@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #333131;
  --foreground: #fffcfc;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fffcfc;
    --foreground: #161616;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.email-list::-webkit-scrollbar, .flex-grow::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.email-list, .flex-grow {
  scrollbar-width: none;
}